doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="javascripts/config.js")
    script(data-main="../main",src="javascripts/vendor/require.js")
    - if (typeof includes !== 'undefined')
      each include in includes
        script(src="#{include}")
  body
    block content
      div#example-container
    include navigation
    section#pagelet !{pagelet}
    footer