doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/prism.css')
    link(rel='stylesheet', href='/docs/docco.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/processing.js')
    script(src='/javascripts/prism.js')
  body
    block content