nav#navigation
  ul
    li
      a(href="#") Toxiclibs.js
    li
      a(href="#") Examples
    li This Example:
      ul
       li
          a(href="#") Annotated Source
        li
          a(href="#") Live Editor