extends layout

block content
  div.pjs#example-container
    canvas#myCanvas
  script(src="https://raw.github.com/hapticdata/toxiclibsjs/develop/build/toxiclibs.min.js")
  script(src='javascripts/vendor/processing.js')
  script(type="application/processing", data-processing-target="myCanvas")!{script}