extends layout

block content
  script(src="http://localhost/~me/libs/toxiclibsjs/working_dir/build/toxiclibs.js")
  script(src='javascripts/processing.js')
  script(type="application/processing", data-processing-target="myCanvas")!{script}
  canvas#myCanvas
  section#pagelet !{pagelet}