/*---------------------------------------------------
		LESS Prefixer
	---------------------------------------------------
		
		All of the CSS3 fun, none of the prefixes!

		As a rule, you can use the CSS properties you
		would expect just by adding a '.':

		box-shadow => .box-shadow(@args)

		Also, when shorthand is available, arguments are
		not parameterized. Learn CSS, not LESS Prefixer.

		-------------------------------------------------
		TABLE OF CONTENTS
		(*) denotes a syntax-sugar helper
		-------------------------------------------------

				.animation(@args)
						.animation-delay(@delay)
						.animation-direction(@direction)
						.animation-duration(@duration)
						.animation-iteration-count(@count)
						.animation-name(@name)
						.animation-play-state(@state)
						.animation-timing-function(@function)
				.background-size(@args)
				.border-radius(@args)
				.box-shadow(@args)
						.inner-shadow(@args) *
				.box-sizing(@args)
						.border-box() *
						.content-box() *
				.columns(@args)
						.column-count(@count)
						.column-gap(@gap)
						.column-rule(@args)
						.column-width(@width)
				.gradient(@default,@start,@stop) *
						.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
						.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
				.opacity(@factor)
				.transform(@args)
						.rotate(@deg)
						.scale(@factor)
						.translate(@x,@y)
						.translate3d(@x,@y,@z)
						.translateHardware(@x,@y) *
				.text-shadow(@args)
				.transition(@args)
						.transition-delay(@delay)
						.transition-duration(@duration)
						.transition-property(@property)
						.transition-timing-function(@function)



		Credit to LESS Elements for the motivation and
		to CSS3Please.com for implementation.

		Copyright (c) 2012 Joel Sutherland
		MIT Licensed:
		http://www.opensource.org/licenses/mit-license.php

-----------------------------------------------------*/
/* Animation */
/* Background Size */
/* Border Radius */
/* Box Shadows */
/* Box Sizing */
/* Columns */
/* Gradients */
/* Opacity */
/* Text Shadow */
/* Transforms */
/* Transitions */
/*--------------------- Layout and Typography ----------------------------*/
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #75715E;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
h1 {
  font-size: 28px;
  color: black;
}
a {
  color: #272822;
}
a:visited {
  color: #6b9901;
}
p {
  margin: 0 0 15px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0 15px 0;
}
h1 {
  margin-top: 40px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.125);
}
hr {
  border: 0 none;
  border-top: 1px solid #e5e5ee;
  height: 1px;
  margin: 20px 0;
}
::selection {
  background-color: #383830;
  color: #fafafa;
}
.annotated-source {
  position: relative;
}
.background {
  position: relative;
  top: 0;
  left: 525px;
  right: 0;
  bottom: 0;
  background: #faf9f5;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}
table {
  padding-top: 15px;
}
table ul {
  padding-left: 15px;
}
table td {
  border: 0;
  outline: 0;
  color: #383830;
}
td.docs,
th.docs {
  width: 33%;
  min-height: 5px;
  padding: 10px 25px 1px 50px;
  overflow-x: hidden;
  vertical-align: top;
  text-align: left;
}
.docs pre {
  margin: 15px 0 15px;
  padding-left: 15px;
}
.docs p tt,
.docs p code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0 0.2em;
}
.pilwrap {
  position: relative;
}
.pilcrow {
  font: 12px Arial;
  text-decoration: none;
  color: #454545;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}
td.docs:hover .pilcrow {
  opacity: 1;
}
td.code,
th.code {
  padding: 14px 15px 16px 25px;
  width: 100%;
  vertical-align: top;
  background: #faf9f5;
  border-left: 1px solid #e5e5ee;
}
pre,
tt,
code {
  font-size: 14px;
  line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}
/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos {
  background-color: #f0f0f0;
  padding-right: 10px;
}
span.lineno {
  background-color: #f0f0f0;
  padding: 0 5px 0 5px;
}
body .hll {
  background-color: #ffffcc;
}
body .c {
  color: #408080;
  font-style: italic;
}
/* Comment */
body .err {
  border: 1px solid #ff0000;
}
/* Error */
body .k {
  color: #0076af;
}
/* Keyword */
body .o {
  color: #666666;
}
/* Operator */
body .cm {
  color: #408080;
  font-style: italic;
}
/* Comment.Multiline */
body .cp {
  color: #bc7a00;
}
/* Comment.Preproc */
body .c1 {
  color: #408080;
  font-style: italic;
}
/* Comment.Single */
body .cs {
  color: #408080;
  font-style: italic;
}
/* Comment.Special */
body .gd {
  color: #a00000;
}
/* Generic.Deleted */
body .ge {
  font-style: italic;
}
/* Generic.Emph */
body .gr {
  color: #ff0000;
}
/* Generic.Error */
body .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
body .gi {
  color: #00a000;
}
/* Generic.Inserted */
body .go {
  color: #808080;
}
/* Generic.Output */
body .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
body .gs {
  font-weight: bold;
}
/* Generic.Strong */
body .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
body .gt {
  color: #0040d0;
}
/* Generic.Traceback */
body .kc {
  color: #0076af;
}
/* Keyword.Constant */
body .kd {
  color: #0076af;
  font-weight: bold;
}
/* Keyword.Declaration */
body .kn {
  color: #0076af;
  font-weight: bold;
}
/* Keyword.Namespace */
body .kp {
  color: #0076af;
}
/* Keyword.Pseudo */
body .kr {
  color: #0076af;
  font-weight: bold;
}
/* Keyword.Reserved */
body .kt {
  color: #b00040;
}
/* Keyword.Type */
body .m {
  color: #666666;
}
/* Literal.Number */
body .s {
  color: #219161;
}
/* Literal.String */
body .na {
  color: #7d9029;
}
/* Name.Attribute */
body .nb {
  color: #954121;
}
/* Name.Builtin */
body .nc {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Class */
body .no {
  color: #880000;
}
/* Name.Constant */
body .nd {
  color: #aa22ff;
}
/* Name.Decorator */
body .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
body .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
body .nf {
  color: #0000ff;
}
/* Name.Function */
body .nl {
  color: #a0a000;
}
/* Name.Label */
body .nn {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Namespace */
body .nt {
  color: #954121;
  font-weight: bold;
}
/* Name.Tag */
body .nv {
  color: #19469d;
}
/* Name.Variable */
body .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
body .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
body .mf {
  color: #990257;
}
/* Literal.Number.Float */
body .mh {
  color: #990257;
}
/* Literal.Number.Hex */
body .mi {
  color: #990257;
}
/* Literal.Number.Integer */
body .mo {
  color: #990257;
}
/* Literal.Number.Oct */
body .sb {
  color: #6b9901;
}
/* Literal.String.Backtick */
body .sc {
  color: #6b9901;
}
/* Literal.String.Char */
body .sd {
  color: #6b9901;
  font-style: italic;
}
/* Literal.String.Doc */
body .s2 {
  color: #6b9901;
}
/* Literal.String.Double */
body .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
body .sh {
  color: #6b9901;
}
/* Literal.String.Heredoc */
body .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
body .sx {
  color: #954121;
}
/* Literal.String.Other */
body .sr {
  color: #bb6688;
}
/* Literal.String.Regex */
body .s1 {
  color: #6b9901;
}
/* Literal.String.Single */
body .ss {
  color: #19469d;
}
/* Literal.String.Symbol */
body .bp {
  color: #954121;
}
/* Name.Builtin.Pseudo */
body .vc {
  color: #19469d;
}
/* Name.Variable.Class */
body .vg {
  color: #19469d;
}
/* Name.Variable.Global */
body .vi {
  color: #19469d;
}
/* Name.Variable.Instance */
body .il {
  color: #666666;
}
/* Literal.Number.Integer.Long */* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
canvas:focus {
  outline: none;
}
#info {
  background-color: #f5f2f0;
  padding: 50px;
}
#navigation {
  background-color: black;
}
#navigation .selected:not(.examples) {
  -webkit-transition: all 1s easeIn;
  -moz-transition: all 1s easeIn;
  -o-transition: all 1s easeIn;
  transition: all 1s easeIn;
  background-color: #fafafa;
  color: black;
}
#navigation .selected:not(.examples) a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#navigation ul {
  display: inline-block;
  margin: 0;
  height: 60px;
}
#navigation ul li {
  -webkit-transition: all 1s easeIn;
  -moz-transition: all 1s easeIn;
  -o-transition: all 1s easeIn;
  transition: all 1s easeIn;
  height: 100%;
  margin: 0;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 0;
  display: inline-block;
  list-style-type: none;
}
.examples-nav {
  text-align: center;
  padding: 2.5%;
  /*padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;*/

  background-color: black;
  width: 100%;
  overflow: auto;
}
.examples-nav form {
  text-align: left;
  padding: 15px;
}
.examples-nav select {
  font-size: 24px;
}
.examples-list {
  margin: auto;
  text-align: left;
}
.examples-list .example-link {
  font-size: 10px;
  width: 12.121212121212121%;
  height: 42px;
  height: auto;
  overflow: hidden;
  display: inline-block;
}
#example-container {
  background-color: #222222;
}
.zoomed2x {
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
}
.centered {
  padding: 50px;
  text-align: center;
}
.centered canvas {
  margin: auto;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s ec easeIn;
  -moz-transition: all 1s ec easeIn;
  -o-transition: all 1s ec easeIn;
  transition: all 1s ec easeIn;
}
.pjs {
  padding: 50px;
  text-align: center;
}
.pjs canvas {
  margin: auto;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s ec easeIn;
  -moz-transition: all 1s ec easeIn;
  -o-transition: all 1s ec easeIn;
  transition: all 1s ec easeIn;
}
a {
  color: #00B7FF;
}
.grad {
  margin: 0;
  background-color: #333333;
  background-image: linear-gradient(bottom, #181818 94%, #333333 71%);
  background-image: -o-linear-gradient(bottom, #181818 94%, #333333 71%);
  background-image: -moz-linear-gradient(bottom, #181818 94%, #333333 71%);
  background-image: -webkit-linear-gradient(bottom, #181818 94%, #333333 71%);
  background-image: -ms-linear-gradient(bottom, #181818 94%, #333333 71%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.94, #181818), color-stop(0.71, #333333));
}
#code-container {
  position: absolute;
  top: 0;
  overflow: scroll;
}
code {
  font-size: 14px;
}
