.footer.container-fluid
  div.row-fluid
    div.span6.about
      :markdown
        - **_[Toxiclibs.js](http://hapticdata.com/toxiclibjs)_ is created and maintained by [Kyle Phillips](http://hapticdata.com)**
        - **The original _[Toxiclibs](http://toxiclibs.org)_ is created and maintained by [Karsten Schmidt](http://postspectacular.com)**
        - _Toxiclibs.js_, _Toxiclibs_ and the _toxiclibs.js website_ are all free open-source software released under 
        [GNU Lesser General Public License](https://github.com/hapticdata/toxiclibsjs/blob/develop/LICENSE.txt)

    div.span6
      ul.quick-links
          li
            a(href="https://github.com/hapticdata/toxiclibsjs") View on Github
          li
            a(href="https://github.com/hapticdata/toxiclibsjs/graphs/contributors") Contributors
          li= "Download:"
            ul.quick-links
              li
                a(href="https://github.com/hapticdata/toxiclibsjs/archive/master.zip") Repository
              li
                a(href="https://raw.github.com/hapticdata/toxiclibsjs/master/build/toxiclibs.js") build
              li
                a(href="https://raw.github.com/hapticdata/toxiclibsjs/master/build/toxiclibs.min.js") minified build

      :markdown
        _This site and examples are 
        [separately available on Github](https://github.com/hapticdata/toxiclibsjs-examples)
        and were created by [Kyle Phillips](http://hapticdata.com) unless otherwise noted._
