extends layout

block meta
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

block content
  div.above.canvas#example-container
    canvas#example
  include toxi.min.jade
  script(src="#{staticUrl}javascripts/examples/#{src}")
