<div class="docco annotated-source">
    <div class="background"></div>
    <ul class="sections">  
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>   
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <div class="pilwrap">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>            
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul> 
</div>
