extends layout

block content
  div.above.pjs#example-container
    canvas#myCanvas(data-processing-sources="#{staticUrl}javascripts/examples/#{src}")
  script(src='#{staticUrl}javascripts/vendor/processing.js')
  include toxi.min.jade
  //script(type="application/processing", data-processing-target="myCanvas") !{script}
