extends layout

block meta
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

block config
  - if (src)
    - src = src.split('.')[0]
block post-config
    script(type='text/javascript').
        window.requirejs.config['site/commands/loadExample'] = {
            example: 'examples/#{src}'
        };

block content
  //script !{script}
  div.above#example-container
